.edit-and-delete {
    cursor: pointer;
    position: absolute;
    left: 80%;
    font-size: larger;
}

.remove-typing-cursor {
    cursor: default;
    user-select: none;
}

.move-to-left {
    left: 65%;
}

.decrease-font-size {
    font-size: smaller;
}

Tooltip {
    user-select: none;
    cursor: default;
}